.showTopRight{
    top: 56px;
    right: 5px;
    z-index: 99999; 
    min-width: 280px;
    animation: toast-in-right 0.7s;
}

@keyframes toast-in-right {
    from{
        transform: translateX(100%);
        opacity: 0;
    }
    to{
        transform: translateX(0);
        opacity: 1;
    }
}