@keyframes heightExpand {
    from{
        height: 0px;
        opacity: 0;
    }
    to{
        height: 70px;
        opacity: 1;
    }
}

.product .card{
    margin: 10px auto;
    border: none;
    height: 500px;
    max-width: 270px;
    width: 100%;
    /* transition: all ease-in-out 1s; */
}

.product .card-img-top{
    height: 320px;
    width: 100%;
    object-fit: cover;
    object-position: 50% 30%;
}

.product .card-title{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.product .cart-body{
    padding: 1.4rem 1rem;
    margin-bottom: 20px;
}

.product .card-text{
    height: 0px;
    opacity: 0;
    overflow: hidden;
    /* display: none; */
    text-overflow: ellipsis;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
}

.product .card:hover{
    box-shadow: 1px 1px 3.4px 4.6px rgb(102 97 97 / 12%);
    transition: all linear 0.2s;

}

.product .card:hover a{
    color: #000;
}

.product .card:hover .card-img-top{
    height: 250px;
    transition: all linear 0.2s;
}

.product .card:hover .card-text{
    height: 70px;
    opacity: 1;
    transition: all linear 0.2s;
    animation: heightExpand linear 0.2s;
}

.product .col h6{
    margin: 0 -14px;
}

.product .btn-success.flex{
    display: flex;
    justify-content: space-around;
}

.product .btn-success:hover{
    background-color: #fff;
    color: #000 !important;
    border: 1px solid #000;
}

.product .btn-success:hover span:nth-child(2){
    border-left: 1px solid #000;
}

@media screen and (min-width: 767px) {
    .product .card{
        max-width: 22rem;
    }
}