html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  box-sizing: border-box;
}

a {
  color: inherit;
  text-decoration: none;
}

li{
  list-style: none;
  margin-left: 0px;

}

ul{
  margin-left: 0px;
  margin-bottom: 0px;
  padding-left: 0px;
}

* {
  box-sizing: inherit;
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

img{
  object-fit: cover;
  object-position: 0 30%;
}

.row{
  display: flex;
  margin-left: -12px;
  margin-right: -12px;
}

.col{
  padding-left: 12px;
  padding-right: 12px;
}

.col-1-3{
  flex: 0 0 33.33333%;
}

.px-12{
  padding-left: 12px;
  padding-right: 12px;
}

@media screen and (min-width: 1023px) {
  .col-1-3{
    flex: 1;
  }
}

.swiper{
  width: 100%;

}

.swiper-slider{
  display: flex;
  align-items: center;
  justify-content: center;
}

.swiper-button-next,
.swiper-button-prev{
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 24px;
  background-color: rgb(215 215 215 / 66%);
  color: #212529 !important;
}

.swiper-button-next::after,
.swiper-button-prev::after{
  font-size: 2.2rem !important;
  font-weight: 800 !important;
}

.clear-fix{
  clear:both;
  content: "";
  display: table;
}

@import url('../pages/products/Product.module.css');

@import url('../components/Product/ProductItem.module.css');

@import url('../pages/products/item/DetailProduct.module.css');

@import url('../pages/profile/Profile.module.css');

@import url('../pages/edit_user/EditUser.module.css');

@import url('../pages/create/ProductManager.module.css');

@import url('../components/Filter/Filter.module.css');
